
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TBSTech</title>
       
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/bootstrap.min.css"> 
      
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/owl.carousel.min.css">
        
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/magnific-popup.min.css">
        
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/animate.min.css">
        
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/boxicons.min.css">
        
        <link rel="stylesheet" href="~/CompanyWebsite/assets/fonts/flaticon.css">
        
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/meanmenu.min.css">
        
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/style.css">
       
        <link rel="stylesheet" href="~/CompanyWebsite/assets/css/responsive.css">
        
        <title>Created by Dipendra Giri and Komal Shrestha.</title>

       
        <link rel="icon" type="image/x-icon" href="~/favicon.ico">  
</head>
<body>
    
      <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="/" class="logo">
                    <img src="~/img/Logo1.png" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav top-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="/">
                            <img src="~/img/Logo_1.png" alt="Logo">
                        </a>
                        <a class="navbar-brand-sticky" href="/">
                            <img src="~/img/Logo_1.png" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="/" class="nav-link active">
                                        Home 
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" style="cursor:pointer;">
                                        Courses 
                                        <i class='bx bxs-chevron-right'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                       @await Html.PartialAsync("_Course")
                                    </ul>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="cursor:pointer;">
                                        Services 
                                        <i class='bx bxs-chevron-right'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                       @await Html.PartialAsync("_Services")
                                    </ul>
                                        
                                </li>
                                <li class="nav-item">
                                    <a asp-asp-controller="Home" asp-action="Product" class="nav-link">
                                        Products
                                    </a>
                                </li>
                                
                               
                                <li class="nav-item">
                                    <a asp-asp-controller="Home" asp-action="Member" class="nav-link" class="nav-link">
                                        Our Team
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-asp-controller="Home" asp-action="Contact" class="nav-link" class="nav-link">
                                        Apply for Course
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="hide-contact nav-link" data-toggle="modal" data-target="#myModal2">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                                <div class="modal-menu">
                                    <div class="default-btn" href="#" data-toggle="modal" data-target="#myModal2">
                                        Contact
                                    </div>
                                </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start Sidebar Modal -->
		<div class="sidebar-modal">  
			<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>
							<h2 class="modal-title" id="myModalLabel2">
								<a href="index.html">
									<img src="~/img/Logo_1.png" alt="Logo" width="100px">
								</a>
							</h2>
                        </div>
                        
						<div class="modal-body">
							<div class="sidebar-modal-widget">
								<h3 class="title">About Us</h3>
								<p>TBS Technologies Pvt. Ltd. (TBS Technologies) is an authorized Information
Communication and Technology company including all the Training and Services in
Digital, Computer, Web and Networking field around the globe.</p>
							</div>
					
                            
							<div class="sidebar-modal-widget">
								<h3 class="title">Contact Info</h3>
								<ul class="contact-info">
									<li>
										<i class='flaticon-pin'></i>
										Address
										<span>@await Html.PartialAsync("_Location")</span>
									</li>
									<li>
										<i class="flaticon-paper-plane"></i>
										Email
										<span>@await Html.PartialAsync("_Email")</span>
									</li>
									<li>
										<i class="flaticon-call"></i>
										Phone
										<span>@await Html.PartialAsync("_ContactDetails")</span>
									</li>
								</ul>
                            </div>
                            
							<div class="sidebar-modal-widget">
								<h3 class="title">Connect With Us</h3>
								<ul class="social-list">
									<li>
										<a href="https://www.facebook.com/tech.TBS/" target="_blank">
											<i class="bx bxl-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/tbs_technologies/" target="_blank">
											<i class='bx bxl-instagram'></i>
										</a>
									</li>
                                    	<li>
										<a href="#">
											<i class='bx bxl-linkedin'></i>
										</a>
									</li>	<li>
										<a href="#">
											<i class='bx bxl-youtube'></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- End Sidebar Modal -->
    <div>
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="contact">
          <h6>contact us</h6>
          <p class="one">Hi, we are always open for cooperation and suggestions,<br> contact us in one of the ways below</p>
          <div class="details">
            <div>
              <p>phone number</p>
              <span><a href="">@await Html.PartialAsync("_ContactDetails")</a></span>
            </div> 
            <div> 
              <p>email address</p>
              <span style="text-decoration:lowercase;">@await Html.PartialAsync("_Email")</span>
            </div>
            <div>
              <p>our location</p>
              <span>@await Html.PartialAsync("_Location")</span>
            </div> 
          </div>  
        </div>
        <div class="information">
          <h6>Services</h6>
           @await Html.PartialAsync("_Foooterservice")
        </div>
        <div class="account">
          <h6>Links</h6>
          <p><a asp-controller="Home" asp-action="Index">Home</a></p>
          <p><a asp-controller="Home" asp-action="Product">Products</a></p>
          <p><a asp-controller="Home" asp-action="Course">Courses</a></p>
          <p><a asp-controller="Home" asp-action="Member">Members</a></p>
          <p><a href="#" data-toggle="modal" data-target="#myModal2">Contact</a></p>
        </div>
        <div class="newsletter">
          <h6>newsletter</h6>
          <p>enter your email address below to subscribe to our newsletter<br>
          and keep up to date with discounts and special offers</p> 
          <form method="POST" asp-controller="Home" asp-action="Subscribe">
              <input type="email" name="email" id="email" placeholder="user@example.com">
          <button>Subscribe</button>
          </form>   
          
          <p>follow us on social networks</p>
          <a href="https://www.facebook.com/tech.TBS/" target="_blank"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/tbs_technologies/" target="_blank"><i class="bx bxl-instagram"></i></a>
          <a href=""><i class="bx bxl-twitter"></i></a>
          <a href=""><i class="bx bxl-youtube"></i></a>
        </div>
      </footer>
      <div class="footer-2">
        <p>Copyright by <span>TBS Technology</span> - 2020<span></span></p>
      </div>
     <!-- Jquery Min JS -->
        <script src="~/CompanyWebsite/assets/js/jquery-3.5.0.min.js"></script>
        <!-- Popper Min JS -->
        <script src="~/CompanyWebsite/assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="~/CompanyWebsite/assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="~/CompanyWebsite/assets/js/meanmenu.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="~/CompanyWebsite/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="~/CompanyWebsite/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Wow JS -->
        <script src="~/CompanyWebsite/assets/js/wow.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="~/CompanyWebsite/assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="~/CompanyWebsite/assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="~/CompanyWebsite/assets/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="~/CompanyWebsite/assets/js/custom.js"></script>
      
    @RenderSection("Scripts", required: false)
</body>
</html>
