@inject IServiceRepository service
@{
    var serv = @service.Collection().Take(5);
}

@foreach (var item in serv)
{
    <ul class="dropdown-menu">

       <li class="nav-item">
           <a href="members.html" class="nav-link">
                      @item.ServiceName
                </a>
       </li>
</ul>
}
