@inject IServiceRepository service
@{
    var serv = @service.Collection();
}


  
@foreach (var item in serv)

 {  
       <li class="nav-item">
           
           <a href="" class="nav-link">
                      @item.ServiceName
                </a>
       </li>
 }


