@model TBSTech.Models.Member 
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>New Member</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">New Member</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <form method="POST" asp-action="New" asp-controller="Member" enctype="multipart/form-data"> 
            <div class="card-body">
              
              <input type="hidden" value ="@ViewBag.Message" name="message" id="message"class="form-control" />
              
              <input type="hidden" asp-for="Id">
              <div class="form-group">
                <label asp-for="MemberName">Member Name</label>
                <input type="text" asp-for="MemberName" id="inputName" class="form-control">
              </div>
              <div class="form-group">
                <label asp-for="Position">Member Position</label>
                <input asp-for="Position" id="inputDescription" class="form-control" >
              </div>
               <div class="form-group">
                <label asp-for="FacebookLink">Facebook Link</label>
                <input asp-for="FacebookLink" id="inputDescription" class="form-control" >
              </div> 
              <div class="form-group">
                <label asp-for="InstagramLink">Instagram Link</label>
                <input asp-for="InstagramLink" id="inputDescription" class="form-control" >
              </div>
              <div class="form-group">
                <label asp-for="LinkedInLink">LinkedIn Link</label>
                <input asp-for="LinkedInLink" id="inputDescription" class="form-control" >
              </div>
              <div class="form-group">
                <label >Member Image</label>
                <input  type="file" accept="image/*" name="file" id="file" class="form-control">
              </div>
                <div class="form-group">
                   <input type="submit" value="Add Member" class="btn btn-success float-right">
                 </div>
              
            </div>
            </form>
            <!-- /.card-body -->
          </div>
          
          <!-- /.card -->
        </div>
   
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
