@model List<TBSTech.Models.Course>
@{
    ViewData["Title"] = "Courses";
    var N=0;
}

<section class="service-area pt-100 pb-70">
<div class="container">
    <div class="scetion-title text-center">
                    <span>Our Courses</span>
                    <h2>We Provide best courses for our trainee.</h2>
                    <p>
                        The courses and the detail of the courses are given below.
                    </p>
                </div><div class="course-container">
                  @foreach (var item2 in Model){
                    N++;
                    <button class="course">@N > @item2.CourseName</button>
<div class="panel">

  <p>@item2.CourseDescription</p>
  <a href="http://@item2.CourseLink"><div class="default-btn">More...</div></a>
</div>
}

</div>

