
@{
    ViewData["Title"] = "Home Page";
}
<!-- Banner Another -->
        <div class="banner-another">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-text banner-ptb">
                            <h1 class="head-width">TBS Technologies</h1>
                            <p>
                                TBS Technologies Pvt. Ltd. is dedicated to educating and empowering young
generation with the high quality of skills and knowledge in the field of Information,
Communication and Technologies as well as providing platforms to deploy the skilled
manpower in the computer field to generate services in the same field. Providing the
most reliable sources of knowledge on courses with the help of our experts we will be
generating our own manpower. We will also provide all the services to our customers in
the field of Information, Communication and Technologies.
                            </p>
                            
                            <div class="banner-btn">
                                <a href="#" data-toggle="modal" data-target="#myModal2" class="default-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-img-3">
                            @await Html.PartialAsync("_Banner")
                            <div class="banner-img-shape">
                                <img src="~/CompanyWebsite/assets/img/shape/shape-home3.png" alt="Banner Shape">
                            </div>
                            <div class="banner-social-icon">
                                <a href="#" class="banner-icon-tag banner-icon1">
                                    <img src="~/CompanyWebsite/assets/img/shape/youtube.svg" alt="Youtube">
                                </a>
    
                                <a href="#" class="banner-icon-tag banner-icon4">
                                    <img src="~/CompanyWebsite/assets/img/shape/instagram.svg" alt="Instagram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-shape">
                <div class="shape1">
                    <img src="~/CompanyWebsite/assets/img/shape/1.png" alt="shape">
                </div>
                <div class="shape2">
                    <img src="~/CompanyWebsite/assets/img/shape/2.png" alt="shape">
                </div>
                <div class="home-shape3">
                    <img src="~/CompanyWebsite/assets/img/shape/3.png" alt="shape">
                </div>
                <div class="home-shape4">
                    <img src="~/CompanyWebsite/assets/img/shape/4.png" alt="shape">
                </div>
                <div class="home-shape5">
                    <img src="~/CompanyWebsite/assets/img/shape/2.png" alt="shape">
                </div>
                <div class="home-shape6">
                    <img src="~/CompanyWebsite/assets/img/shape/6.png" alt="shape">
                </div>
                <div class="shape7">
                    <img src="~/CompanyWebsite/assets/img/shape/3.png" alt="shape">
                </div>
                <div class="home-shape8">
                    <img src="~/CompanyWebsite/assets/img/shape/5.png" alt="shape">~/TBSTechnologies/
                </div>
            </div>
        </div>
        <!-- Banner Another End -->
        <div class="container">
<h1>What do we do?</h1>
<p>TBS Technologies Pvt. Ltd. (TBS Technologies) is an authorized Information Communication and Technology company including all the Training and Services in Digital, Computer, Web and Networking field around the globe.</p>
        <div class="row pt-45">
                    <div class="col-lg-4 col-sm-6">
                        <div class="main-service">
                            <a href="service-details.html">
                                <img src="~/CompanyWebsite/assets/img/services.svg" alt="Images">
                            </a>
                            <a href="service-details.html">
                                <h3>Services</h3>
                            </a>
                            <p>
                                We provide services like web development, 2d & 3d image designing, hosting services, web maintainance etc. to our client
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="main-service">
                            <a href="service-details.html">
                                <img src="~/CompanyWebsite/assets/img/teaching.svg" alt="Images">
                            </a>
                            <a href="service-details.html">
                                <h3>Courses</h3>
                            </a>
                            <p>
                                We also provide training facilities for the courses included by us. Some of our courses are web development, sketching, digital marketing.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="main-service">
                            <a href="service-details.html">
                                <img src="~/CompanyWebsite/assets/img/product.svg" alt="Images">
                            </a>
                            <a href="service-details.html">
                                <h3>Products</h3>
                            </a>
                            <p>
                                Our company all deals with sellling of electronic products like CCTV cameras, Biometrics, Projectors etc
                            </p>
                        </div>
                    </div>
                    </div>
                     @await Html.PartialAsync("_Video")
                    <div class="client-area pb-70">
                <div class="container-fluid p-0">
                <div class="team-margin scetion-title text-center">
                    <span>Our Team</span>
                    <h2>Our Expert Members</h2>
                    <p>
                        They are the dedicated members of are team who work all the time for the development of TBS technologies.
                    </p>
                </div>

                <div class="client-slider owl-carousel owl-theme">
                   
                 @await Html.PartialAsync("_Members")
                </div>
            </div>
        </div>
                    </div>


