@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="banner" style="background-image: url('https://www.travelopro.com/public/images/contact/111.jpg');">
    <div class="banner-info">
        <h2>TBS Technologies</h2>
        <p>TBS Technologies Pvt. Ltd. (TBS Technologies) is an authorized Information
Communication and Technology company including all the Training and Services in
Digital, Computer, Web and Networking field around the globe.</p>
<div class="btn-primary">Get Started!</div>
    </div>
    </div>
</div>
</div>
