@model List<TBSTech.Models.Product>

<!-- Service Area -->
        <section class="service-area pt-100 pb-70">
            <div class="container">
                <div class="scetion-title text-center">
                    <span>Our Service</span>
                    <h2>We Provide Fastest & Unique Business Growing Service</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by 
                        the readable content of a page when looking at its layout.
                    </p>
                </div>
                <div>
                    <div class="row pt-45">

                @foreach (var item in Model)
                
                {
                    
                
                
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-card">
                            <a href="service-details.html">
                                <img src="~/ProductImages/@item.ImageUrl" alt="Images">
                            </a>
                            <a href="service-details.html">
                                <h3>@item.ProductName</h3>
                            </a>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                
                }
                 </div>
              

                    
        </section>
        <!-- Service Area End -->


        <!-- Submission Area -->
        <div class="submission-area ptb-100">
            <div class="container">
                <div class="submission-title">
                    <h2>Know Your Website Ranking</h2>
                </div>
                <form class="submission-form">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="form-group">
								<input type="text" class="form-control" id="website" placeholder="Your website">
							</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group border-line">
								<input type="text" class="form-control" id="email" placeholder="Email">
							</div>
                        </div>
                        <div class="col-lg-3 col-md-3 offset-md-5 offset-lg-0">
                            <button type="submit" class="default-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Submission Area End -->