@{
    ViewData["Title"] = "Product Details";
}
<div class="inner-banner inner-bg1">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>Product Details</h3>
                    <ul>
                        <li>
                            <a href="index.html">Products</a>
                        </li>
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                        </li>
                        <li>Product Details</li>
                    </ul>
                </div>
            </div>
        </div>
<section class="service-area pt-100 pb-70">
            <div class="container">
                <div class="scetion-title text-center">
                    <span>Product Detail</span>
                    <h2>Place your order.</h2>
                    <p>
Here is the full detail of the product you just clicked.                    </p>
                </div>
            </div>
            <div class="container">
            <div class="product">
                <div class="product-img">
                    <img src="~/ProductImages/d49c0192-7c52-4953-911f-40ac3d7e2147Surveillance-Solutions-CCTV_i1140.jpg" alt="">
                </div>
                <div class="product-detail">
                    <h1>CCTV</h1>
<p>Three wifi antennasNew IP camera with three antennas, provide your fluently control of cellphone. never afraid the camera offline.11 IR lights11 pcs High Resolution IR-CUT Lights, provide with you 10m night vision viewTwo Ways AudioTwo ways audio, not any delay, not with any noise, communication is so easy.HD 1080P1080*1920 resolution, provide with you the most clearly and real view, everything can not escape your eyes.Plug and PlayPlug & Play, just need to download APP, not need any wire, just one minute, can finish the installation.Inside, Flat, Ceiling InstallationWith the accessories of installation, can install on ceiling and wall, just follow your want.Remote ControlSupport P2P technology and remote control, you can get what happen even you are far away from home.APP ControlBase on Yoosee APP in different languages, with large function, stable operation and never offline.Motion DetectionHigh sensitivity of motion detection, alarm can notify you immediately when get any abnormal situation.Wifi CameraNot need to keep strong signal to link, as long as with weak wifi signal, camera can be linked.</p>                </div>
            </div>
            </div>
</section>