/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* @import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
*{
	font-family: 'Lora', serif;
} */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.contact-head {
  color: #00649b;
  display: flex;
  padding-top: 2px;
  padding-bottom: 5px;
  justify-content: space-between;
}
.contact-head p {
  margin: 0;
  font-weight: 200;
}
.navbar div a h2{
  display: none;
  color: #1861ac;
  font-style: italic;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .contact-head {
    display: flex;
    flex-direction: column;
  }
  #topheader .navbar-nav li.active > a {
    color: #1b6ec2 !important;
    transition: ease-in all 0.2s;
    border-bottom: 2px solid white !important;
    font-weight: 500;
  }
  .navbar div a img{
    display: none;
  }
  .navbar div a h2{
    display: block;
  }
}

#topheader .navbar-nav li.active > a {
  border-bottom: 2px solid #00649b;
  color: black !important;
  font-weight: 500;
  transition: ease-in all 0.2s;
}
#topheader .navbar-nav li a {
  font-weight: 400;
  margin-left: 10px;
  font-size: 14px;
  border-bottom: 2px solid white;
  color: #777 !important;
}
#topheader .navbar-nav li a:hover {
  border-bottom: 2px solid #00649b;
  color: black !important;
  transition: ease-in all 0.2s;
}

.navbar-brand img {
  height: 49px;
  width: 227px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
